// Page builder
#page-builder-popup {
  width: 400px;
  margin-left: -200px;

  .modal-body {
    padding: 0;
  }

  .modal-description {
    p {
      vertical-align: middle;
      display: inline-block;
      width: 265px;
    }
    a {
      vertical-align: middle;
      display: inline-block;
      margin-left: 50px;
    }
  }
}

@import "blocks/b-page-builder";