/*--- About ---*/
.about-page {
  h1 {
    padding-left: 48px;
    
    &:before {
      content: "";
      display: block;
      width: 39px;
      height: 37px;
      position: absolute;
      top: 0;
      left: 0;
      background: sprite($sprite,about-logo) no-repeat;
    }
  }

  .static-content {
    img[align=left] {
      margin-top: 0;
    }
  }
}
/*--- end About ---*/