<div class="details-title details-editable" id="title"></div>

<div class="scrollable-outer" id="carousel"></div>


<div class="details-content">
    <nav class="details-nav">
        <ul>
        	<li class="add-page"><a href="javascript:void(0)">&</a></li>
        </ul>
    </nav>
    <div class="inner">
        <!--<div class="details-user bg1">
            <div class="inner">
                <a href="#!users/<%= thing.get('createdUser')._id %>" class="img avatar" style="background-image: url(<%= thing.get('createdUser').picture.medium %>);"></a>
        
                <div class="user-info">
                    <div class="username"><a href="#!users/<%= thing.get('createdUser')._id %>"><%= thing.get('createdUser').firstName %> <%= thing.get('createdUser').lastName %></a></div>
                    <% if (thing.get('createdDeck')) { %>
                        <div class="collection">posted from the collection<br/><a href="#!decks/<%= thing.get('createdDeck')._id %>"><%= thing.get('createdDeck').name %></a></div>
                    <% } %>
                </div>
                <div class="user-follow">
                    <a href="javascript:void(0)" class="btn btn-primary btn-follow">Follow</a>
                    <a href="javascript:void(0)" class="btn btn-primary btn-unfollow">Unfollow</a>
                    <a href="javascript:void(0)" class="btn btn-primary btn-editprofile">Edit Profile</a>
                </div>
            </div>
        </div>-->
        
        <div class="details-block details-editable" id="desc"></div>
        
		<div class="details-block" id="map"></div>
		
        <div class="details-block" id="comments"></div>
        
        <div class="details-block details-editable" id="colls"></div>

        <div class="details-block" id="collectors"></div>

        <div class="details-block" id="likers"></div>

        <div class="details-block details-editable" id="tags"></div>
        
        <div class="details-block" id="editors"></div>
    </div>
</div>