.details-nav {
  z-index: 3;
  height: 43px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0 7px 0 0;
  border: {
    style: solid;
    width: 1px 0;
    color: #959595;
  };
  background: #ecebeb;
  font-size: 18px;
  @include box-shadow(rgba(#000,.2) 0 2px 5px);

  ul {
    text-align: center;
    margin: 0;
    padding:0;
    @include inline-blocks;

    li {
      @include inline-block;
      padding: 0;

      &:first-child {
        margin-left: 0;
      }

      a {
        display: inline-block;
        height: 41px;
        padding: 10px 17px;
        color: #2d2d2d;
        cursor: pointer;
        @include text-shadow(rgba(#fff,.59) 0 1px 0);
        @include transition(color 0.2s);
      }

      &:not(.active) a:hover {
        color: #2a80c5;
        text-decoration: none;
      }

      &.active {
        a {
          font-weight: bold;
          text-decoration: none;
          cursor: default;
          padding: 10px 16px;
          border: {
            style: solid;
            width: 0 1px;
            color: #a5a4a4;
          };
          @include bg-linear(#e3e2e1,#cdcbc9);
        }
      } 

      &.add-page {
        font: normal 20px $P;
        border-right: 1px solid #235d8c;
        position: relative;

        a {
          background: #4f98d3;
          padding: 11px 20px;
          @include link-colors(#fefefe,#fefefe);

          &:hover {
            @include transition(none);
          }
        }

        &:before,
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          margin: -4px 0 0;
          position: absolute;
          right: -7px;
          top: 50%;
          border: {
            style: solid;
            width: 4px 0 4px 8px;
            color: transparent transparent transparent #4f98d3;
          };
          font-size: 0;
        }

        &:before {
          right: -8px;
          border-left-color: #235d8c;
        }
      }

      &.pages-settings {
        a {
          color: #868686;
          font: normal 24px $P;
        }
      }
    }
  }
}