@font-face {
  font-family: 'Pictos';
  src: font-url('pictos-web.eot');
  src: font-url('pictos-web.eot?#iefix') format('embedded-opentype'),
       font-url('pictos-web.woff') format('woff'),
       font-url('pictos-web.ttf') format('truetype'),
       font-url('pictos-web.svg#webfontIyfZbseF') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Asap';
  src: font-url('asap-boldwebfont.eot');
  src: font-url('asap-boldwebfont.eot?#iefix') format('embedded-opentype'),
       font-url('asap-boldwebfont.woff') format('woff'),
       font-url('asap-boldwebfont.ttf') format('truetype'),
       font-url('asap-boldwebfont.svg#AsapBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Asap';
  src: font-url('asap-bolditalicwebfont.eot');
  src: font-url('asap-bolditalicwebfont.eot?#iefix') format('embedded-opentype'),
       font-url('asap-bolditalicwebfont.woff') format('woff'),
       font-url('asap-bolditalicwebfont.ttf') format('truetype'),
       font-url('asap-bolditalicwebfont.svg#AsapBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Asap';
  src: font-url('asap-italicwebfont.eot');
  src: font-url('asap-italicwebfont.eot?#iefix') format('embedded-opentype'),
       font-url('asap-italicwebfont.woff') format('woff'),
       font-url('asap-italicwebfont.ttf') format('truetype'),
       font-url('asap-italicwebfont.svg#AsapItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Asap';
  src: font-url('asap-regularwebfont.eot');
  src: font-url('asap-regularwebfont.eot?#iefix') format('embedded-opentype'),
       font-url('asap-regularwebfont.woff') format('woff'),
       font-url('asap-regularwebfont.ttf') format('truetype'),
       font-url('asap-regularwebfont.svg#AsapRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}